<!DOCTYPE html>
<html lang="ko" ng-app="ngc_minecraft">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8" />
  <meta property="og:image" content="http://nerdgamecrew.link/Minecraft/IMG/Logo2.jpg">
  <meta property="og:title" content="λ¨Έμ €λ¦¬ κ²μ„ν¬λ£¨ Minecraft μ›Ήμ„λ²„">
  <meta property="og:description" content="NGCμ© Minecraft κ³µμ‹ μ›Ήμ„λ²„">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.cdnfonts.com/css/minecraft-4" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Minecraft/CSS/index.css">
  <link rel="stylesheet" type="text/css" href="../Minecraft/CSS/minecraftFont.css">
  <link rel="apple-touch-icon" sizes="57x57" href="../Minecraft/IMG/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../Minecraft/IMG/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../Minecraft/IMG/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../Minecraft/IMG/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../Minecraft/IMG/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../Minecraft/IMG/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../Minecraft/IMG/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../Minecraft/IMG/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../Minecraft/IMG/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../Minecraft/IMG/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../Minecraft/IMG/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../Minecraft/IMG/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../Minecraft/IMG/favicon-16x16.png">
  <link rel="manifest" href="../Minecraft/IMG/manifest.json">
  <meta name="msapplication-TileColor" content="#0a0a0a">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta name="msapplication-TileImage" content="../Minecraft/IMG/ms-icon-144x144.png">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
  <meta name="theme-color" content="#0a0a0a">
  <!--########################################################################################################################################
  # λ„¤λΉ„κ²μ΄μ… CSS (λ°°κ²½μƒ‰μ— λ§λ” CSSλ΅ μ„ν¬νΈ ν•  κ²ƒ)
  ########################################################################################################################################-->
  <link href="../Main/CSS/navi.css" rel="stylesheet">
  <link href="../Main/CSS/naviDarkMode.css" rel="stylesheet">
  <link href="../Main/CSS/naviDarkMode2.css" rel="stylesheet">
  <!--####################################################################################################################################-->

  <title>λ¨Έμ €λ¦¬ κ²μ„ν¬λ£¨ : λ§μΈν¬λν”„νΈ μ¨λΌμΈ μ„λ²„</title>
</head>
<body ng-controller="ngc_controller" bgcolor="#111217">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <%-include('../../Main/HTML/Navi.ejs')%>

  <div class="mainDiv">
    <img src="../Minecraft/IMG/Logo.png" alt="" class="logo_img">

    <div class="subDib">
      <span class="titleHeader">π λ¨Έμ €λ¦¬ κ²μ„ ν¬λ£¨ μ„λ²„</span>
      <div class="server_status_table_div draggable">
        <table>
          <tr>
            <td class="server_status_icon_td">
              <% if (server_status == null) { %>
                <img src="../Minecraft/IMG/ServerIcon_OffLine.png" width="100%">
              <% } else { %>
                <img src="../Minecraft/IMG/ServerIcon_OnLine.png" width="100%">
              <% } %>
            </td>
            <td class="server_status_td minefont">
              <table width="100%" class="server_title">
                <tr>
                  <td class="server_name">
                    NGC Server
                  </td>
                  <td class="server_player_num">
                    <% if (server_status == null) { %>
                      <span>0/20</span>
                      <img class="server_status_icon" src="../Minecraft/IMG/ServerStatus_OffLine.png">
                    <% } else { %>
                      <span><%= server_status.onlinePlayers%>/20</span>
                      <img class="server_status_icon" src="../Minecraft/IMG/ServerStatus_OnLine.png">
                    <% } %>
                  </td>
                </tr>
              </table>
              
              <% if (server_status == null) { %>
                <span class="minefont">NGC Mincraft server is offline.</span>
              <% } else { %>
                <span class="minefont">Nerd Game Crew Minecraft AWS server</span>
              <% } %>
            </td>
          </tr>
        </table>
      </div>

      <div class="server_detail_table">
        <% if (server_status == null) { %>
          <div class="server_detail_table_offline">
            μ„λ²„κ°€ μ¤ν”„λΌμΈ μƒνƒμ…λ‹λ‹¤.
          </div>
        <% } else { %>
          <table class="server_detail_table_online_garo minefont draggable">
            <tr class="server_detail_table_header">
              <td class="minefont">Version</td>
              <td class="minefont">Bukkit</td>
              <td class="minefont">UpTime</td>
              <td class="minefont">Server CPU</td>
              <td class="minefont">Max Memory</td>
              <td class="minefont">Free Memory</td>
            </tr>
            <tr>
              <td class="minefont"><%= server_status.bukkitVersion.split('-')[0] %></td>
              <td class="minefont"><%= server_status.name %></td>
              <td class="minefont"><%= uptime %></td>
              <td class="minefont"><%= server_status.health.cpus %> Core</td>
              <td class="minefont"><%= max_memory %></td>
              <td class="minefont"><%= free_memory %></td>
            </tr>
          </table>
          <table class="server_detail_table_online_sero minefont draggable">
            <tr>
              <td class="minefont server_detail_table_header">Version</td>
              <td class="minefont"><%= server_status.bukkitVersion.split('-')[0] %></td>
            </tr>
            <tr>
              <td class="minefont server_detail_table_header">Bukkit</td>
              <td class="minefont"><%= server_status.name %></td>
            </tr>
            <tr>
              <td class="minefont server_detail_table_header">UpTime</td>
              <td class="minefont"><%= uptime %></td></tr>
            <tr>
              <td class="minefont server_detail_table_header">Server CPU</td>
              <td class="minefont"><%= server_status.health.cpus %> Core</td></tr>
            <tr>
              <td class="minefont server_detail_table_header">Max Memory</td>
              <td class="minefont"><%= max_memory %></td>
            </tr>
            <tr>
              <td class="minefont server_detail_table_header">Free Memory</td>
              <td class="minefont"><%= free_memory %></td>
            </tr>
          </table>
        <% } %>
        </div>
    </div>

    <div class="subDib">
      <span class="titleHeader" id="crew_info">ν¬λ£¨μ› μ •λ³΄</span>
      <% for(var index = 0; index < total_players.length; index ++) { %>
      <table class="profile_table draggable">
        <tr>
          <td class="profile_table_icon_td" valign="top">
            <img src="../Minecraft/IMG/<%= total_players[index]%>.png" class="profile_icon {{player_info['<%=  total_players[index]%>'].isLoggin?'online_profile_icon':'offline_profile_icon'}}">
          </td>
          <td>
            <span class="profile_username minefont"><%= total_players[index]%> 
              <span class="{{player_info['<%=  total_players[index]%>'].isLoggin?'online_labbel':'offline_labbel'}}">{{player_info['<%=  total_players[index]%>'].isLoggin?'ONLINE':'OFFLINE'}}
              </span></span>
            <span class="profile_health_bar">
              <% for(var i = 0; i < 10; i ++) {%> 
                <img src="../Minecraft/IMG/health_0.png" class="health_icon <%= total_players[index]%>_health_bar">
              <%}%>
            </span>
            <span class="profile_hunger_bar">
              <% for(var i = 0; i < 10; i ++) {%> 
                <img src="../Minecraft/IMG/hunger_0.png" class="hunger_icon <%= total_players[index]%>_hunger_bar">
              <%}%>
            </span>
            <div class="login_panel" ng-show="player_info['<%=  total_players[index]%>'].isLoggin">
              Position : <span class="location_data">({{player_info['<%=  total_players[index]%>'].location_x.toFixed(0)}}, {{player_info['<%=  total_players[index]%>'].location_z.toFixed(0)}} )</span>
              PlayTime : <span class="location_data">{{player_info['<%=  total_players[index]%>'].lastLogin}}</span>
              <div class="connect_button" ng-hide="player_info['<%=  total_players[index]%>'].isConnect" ng-click="connect('<%= total_players[index]%>')">Connect</div>
              <div class="disconnect_button" ng-show="player_info['<%=  total_players[index]%>'].isConnect" ng-click="disconnect()">Disconnect</div>
            </div>
          </td>
        </tr>
      </table>
      <% } %>
      <div ng-click="refresh()" class="refreshButton minefont">Refresh status</div>
    </div>

    <div class="subDib">
      <span class="titleHeader">μ›¨μ΄ν¬μΈνΈ μ‹μ¤ν…</span>
      <a href="#crew_info">ν¬λ£¨μ› μ •λ³΄</a>μ—μ„ μ—°κ²°ν• μΊλ¦­ν„°κ°€ μ›¨μ΄ν¬μΈνΈ μ„μ— μ„μΉν•΄ μμ„ κ²½μ°, λ‹¤λ¥Έ μ›¨μ΄ν¬μΈνΈλ΅ μκ°„μ΄λ™ ν•  μ μμµλ‹λ‹¤.
      <table class="waypoint_garo" height="460px" width="100%">
        <tr>
          <td width="400px" valign="top" ng-show="waypoint_select == null" class="waypoint_select">
            <img src="../Minecraft/IMG/waypoint.png" width="300px">
            <span class="waypoint_description">λ©μ μ§€λ¥Ό μ„ νƒν•΄μ£Όμ„Έμ”.</span>
            <div class="waypoint_disableButton minefont">use waypoint</div>
          </td>
          <td width="400px" valign="top" ng-show="waypoint_select != null" class="waypoint_select">
            <img ng-src="{{waypoint_select.waypoint_url}}" width="300px">
            <span class="waypoint_name">{{waypoint_select.waypoint_name}}</span>
            <span class="waypoint_description">{{waypoint_select.description}}</span>
            <table class="location_table">
                <tr><td>X μΆν‘</td><td>{{waypoint_select.location[0]}}</td></tr>
                <tr><td>Y μΆν‘</td><td>{{waypoint_select.location[1]}}</td></tr>
                <tr><td>Z μΆν‘</td><td>{{waypoint_select.location[2]}}</td></tr>
            </table>
            <div class="waypoint_button minefont" ng-click="teleport()">use waypoint</div>
          </td>
          <td>
            <div class="scrollDiv" width="100%">
              <table class="waypointList" width="100%">
                <tr data-ng-repeat="point in waypoints">
                  <td ng-click="listClick($index)" class="waypoint_item">
                    <span class="waypointList_name">{{point.waypoint_name}}</span>
                    <span class="waypointList_description">{{point.description}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>

      <table class="waypoint_sero" width="100%">
        <tr>
          <td ng-show="waypoint_select == null" class="waypoint_select">
            <table width="100%">
              <tr>
                <td><img src="../Minecraft/IMG/waypoint.png" width="180px"></td>
                <td class="sero_waypoint_select">
                  <span class="waypoint_description">λ©μ μ§€λ¥Ό μ„ νƒν•΄μ£Όμ„Έμ”.</span>
                  <div class="waypoint_disableButton minefont">use waypoint</div>
                </td>
              </tr>
            </table>
          </td>
          <td ng-show="waypoint_select != null" class="waypoint_select">
            <table width="100%">
              <tr>
                <td><img ng-src="{{waypoint_select.waypoint_url}}" width="180px"></td>
                <td class="sero_waypoint_select">
                  <span class="waypoint_name">{{waypoint_select.waypoint_name}}</span>
                  <span class="waypoint_description">{{waypoint_select.description}}</span>
                  <div class="waypoint_button minefont" ng-click="teleport()">use waypoint</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="100%">
            <div class="scrollDiv" width="100%">
              <table class="waypointList" width="100%">
                <tr data-ng-repeat="point in waypoints">
                  <td ng-click="listClick($index)" class="waypoint_item">
                    <span class="waypointList_name">{{point.waypoint_name}}</span>
                    <span class="waypointList_description">{{point.description}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="footer">
    Presented by <a href="https://KimYC1223.github.io">KimYC1223</a>
  </div>
  <script src="../Minecraft/JS/MinecraftAngular.js"></script>
</body>
</html>
