<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8" />
        <meta property="og:image" content="http://nerdgamecrew.link/Web/SatisFactory/IMG/Logo2.jpg">
        <meta property="og:title" content="영찬의 게임 일지">
        <meta property="og:description" content="영찬의 게임일지 : 새티스 팩토리">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../SatisFactory/CSS/index.css">
        <link rel="apple-touch-icon" sizes="57x57" href="../SatisFactory/IMG/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../SatisFactory/IMG/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../SatisFactory/IMG/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../SatisFactory/IMG/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../SatisFactory/IMG/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../SatisFactory/IMG/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../SatisFactory/IMG/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../SatisFactory/IMG/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../SatisFactory/IMG/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../SatisFactory/IMG/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../SatisFactory/IMG/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../SatisFactory/IMG/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../SatisFactory/IMG/favicon-16x16.png">
        
        <link rel="manifest" href="../SatisFactory/IMG/manifest.json">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="../SatisFactory/IMG/ms-icon-144x144.png">
        <meta name="theme-color" content="#FFFFFF">

        <!--########################################################################################################################################
        # 네비게이션 CSS (배경색에 맞는 CSS로 임포트 할 것)
        ########################################################################################################################################-->
        <link href="../Main/CSS/navi.css" rel="stylesheet">
        <!--####################################################################################################################################-->

        <title>영찬의 게임일지 : 새티스 팩토리</title>
      </head>
<body>
  <%-include('../../Main/HTML/Navi.ejs')%>

  <div class="mainDiv">
    <div class="titleDiv">
      <div class="titleImageDiv">
        <img class="titleImageBackground" src="../SatisFactory/IMG/BG.png" alt="">
        <div class="titleImageContent">
          <img class="titleImageLogo" src="../SatisFactory/IMG/SatisFactoryLogoTransparent.png" alt="">
          <span class="MainTitle">영찬의 게임일지 : SATIS FACTORY</span>
        </div>
      </div>
    </div>
    <hr>

    <!--############################################################################################################################################################################################
    #
    #  플레이 정보
    #  플레이 시간과 같은 정보를 적는다
    #
    ############################################################################################################################################################################################-->

    <div class="subDiv">
      <div class="subDivTitle">
        <span>플레이 정보</span>
      </div>

      <div class="RealBG">
        <div class="RealBGDesc">
          <span class="RealBGTimeStamp">2022.08.26 PM 10:55</span>
          <span class="RealBGLocation">미니 호수 근처에 위치한 제 1 석탄 발전소 전경</span>
        </div>
      </div>

      <table class="playInfoTable_Web">
        <tr> <td> 버전 </td> <td> 플레이 타임 </td> <td> 시작 시간 </td> <td> 시작 바이옴 </td> <td> 마일스톤 단계 </td> </tr>
        <tr> <td> Update 5 </td> <td> 60.3 시간 </td> <td> 2022.08.06 </td> <td> 잔디 평아 </td> <td>
            <span class="playInfoMain">3-4 Tear</span><br />
            <span class="playInfoSub">프로젝트 어셈블리: 플랫폼</span>
          </td>
        </tr>
      </table>

      <table class="playInfoTable_Mobile">
        <tr> <td> 버전 </td>         <td> Update 5 </td>         </tr>
        <tr> <td> 플레이 타임 </td>  <td> 60.3 시간 </td>  </tr>
        <tr> <td> 시작 시간 </td>    <td> 2022.08.06 </td> </tr>
        <tr> <td> 시작 바이옴 </td>  <td> 잔디 평야 </td>  </tr>
        <tr> <td> 마일스톤 단계 </td>
          <td>
            3-4 Tear<br />
            <span class="playInfoSub">프로젝트 어셈블리: 플랫폼</span>
          </td>
        </tr>

      </table>
    </div>
    <hr>
    <!--############################################################################################################################################################################################
    #
    #  워크 플로우
    #  Kanban 스타일의 워크 플로우 작성
    #
    ###########################################################################################################################################################################################-->

    <div class="subDiv">
      <div class="subDivTitle">
        <span>워크 플로우</span>
      </div>
      <span class="subDivTitleSub">Kanban 스타일의 업무 시스템 정리</span>
      <div class="BarMask" width="100%">
        <div class="ToDoBar" id="ToDoBar" style="width : calc(<%= 100 * (ToDo.length / (ToDo.length + InProgress.length + Done.length)) %>% - 20px)">To Do</div>
        <div class="InProgressBar" id="InProgressBar" style="width : calc(<%= 100 * (InProgress.length / (ToDo.length + InProgress.length + Done.length)) %>% - 20px)">In Progress</div>
        <div class="DoneBar" id="DoneBar" style="width : calc(<%= 100 * (Done.length / (ToDo.length + InProgress.length + Done.length)) %>% - 20px)">Done</div>
      </div>

      <div class="KanbanBoardWrap">
        <div class="KanbanBoard">
          <span class="boardTitle ToDoTitle"><b>To Do</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;해야 할 업무<span class="KanbanItemNum"><%= ToDo.length%></span></span>
          <div class="KanbanScrollDiv">
            <div class="KanbanScrollDivChild">
              <% for (var i = 0 ; i <ToDo.length; i++) { %>
                <% var item = ToDo[i] %>
                <div class="KanbanItem DoneItem ">
                  <div class="KanbanItemIcon">
                    <img src="../SatisFactory/IMG/<%= item['type']%>.png">
                  </div>
                  <div class="KanbanItemBody">
                    <div><span class="KanbanItemPriority <%= item['priority']%>">우선 순위 <%= item['priority']%></span></div>
                    <span class="KanbanItemName"><%= item['name']%></span>
                    <span class="KanbanItemDesc"><%= item['Description']%></span>
                    <span class="KanbanItemType"><%= item['type']%></span>
                    <span class="KanbanItemTypeKorean"><%= Translation[item['type']]%></span>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="KanbanBoard">
          <span class="boardTitle InProgressTitle"><b>In Progress</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;진행중인 업무<span class="KanbanItemNum"><%= InProgress.length%></span></span>
          <div class="KanbanScrollDiv">
            <div class="KanbanScrollDivChild">
              <% for (var i = 0 ; i <InProgress.length; i++) { %>
                <% var item = InProgress[i] %>
                <div class="KanbanItem DoneItem ">
                  <div class="KanbanItemIcon">
                    <img src="../SatisFactory/IMG/<%= item['type']%>.png">
                  </div>
                  <div class="KanbanItemBody">
                    <div><span class="KanbanItemPriority <%= item['priority']%>">우선 순위 <%= item['priority']%></span></div>
                    <span class="KanbanItemName"><%= item['name']%></span>
                    <span class="KanbanItemDesc"><%= item['Description']%></span>
                    <span class="KanbanItemType"><%= item['type']%></span>
                    <span class="KanbanItemTypeKorean"><%= Translation[item['type']]%></span>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="KanbanBoard">
          <span class="boardTitle DoneTitle"><b>Done</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;완료한 업무<span class="KanbanItemNumWhite"><%= Done.length%></span></span>
          <div class="KanbanScrollDiv">
            <div class="KanbanScrollDivChild">
              <% for (var i = 0 ; i <Done.length; i++) { %>
                <% var item = Done[i] %>
                <div class="KanbanItem DoneItem ">
                  <div class="KanbanItemIcon">
                    <img src="../SatisFactory/IMG/<%= item['type']%>.png">
                  </div>
                  <div class="KanbanItemBody">
                    <div><span class="KanbanItemPriority <%= item['priority']%>">우선 순위 <%= item['priority']%></span></div>
                    <span class="KanbanItemName"><%= item['name']%></span>
                    <span class="KanbanItemDesc"><%= item['Description']%></span>
                    <span class="KanbanItemType"><%= item['type']%></span>
                    <span class="KanbanItemTypeKorean"><%= Translation[item['type']]%></span>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>


    <!--############################################################################################################################################################################################
    #
    #  마일스톤
    #  해금한 마일스톤과 해금하지 못한 마일스톤을 적는다
    #
    ############################################################################################################################################################################################-->


    <div class="subDiv">
      <div class="subDivTitle">
        <span>마일스톤</span>
      </div>
      <span class="subDivTitleSub">해금하거나 연구한 마일스톤 및 연구 목록</span>
      <div class="MileStoneMonitor_Web">
        <div class="MileStoneMonitor_WebBorder">
          <div class="MileStoneSideBar">
            <div>
              <div class="MileStoneSiderBarButton MS_Done">Tier 0</div>
              <div class="MileStoneSiderBarButton MS_Done">Tier 1</div>
              <div class="MileStoneSiderBarButton MS_Done">Tier 2</div>
              <div class="MileStoneSiderBarButton MS_Done">Tier 3</div>
              <div class="MileStoneSiderBarButton MS_InProgress">Tier 4</div>
              <div class="MileStoneSiderBarButton MS_ToDo">Tier 5</div>
              <div class="MileStoneSiderBarButton MS_ToDo">Tier 6</div>
              <div class="MileStoneSiderBarButton MS_ToDo">Tier 7</div>
              <div class="MileStoneSiderBarButton MS_ToDo">Tier 8</div>
            </div>
          </div>

          <div class="MileStoneSideBody">
            <% for (var i = 0; i <= 8; i ++ ) { %>
              <div class = "MileStonePage MS_Hidden">
                <% for (var j = 0; j < MileStone[i].length; j ++ ) { %>
                  <div class = "MileStoneItem MileStoneItem_<%= MileStone[i][j].isDone%>">
                    <div class="MileStoneItemImage">
                      <img src = "<%= MileStone[i][j].img%>">
                      <div class="MileStoneItemInfo <%= MileStone[i][j].isDone%>">
                        <%= MileStone[i][j].isDone == 'MS_Result_true' ? '연구 완료' : MileStone[i][j].isDone == 'MS_Result_false' ? '연구 필요' : MileStone[i][j].isDone == 'MS_Result_NotYet' ? '해금 필요' : '연구 중'%>
                      </div>
                    </div>
                    <div class="MileStoneItemBody">
                      <div class="MileStoneItemSub">MILESTONE TIER <%= i %> : PROJECT No . <%= j%></div>
                      <div class="MileStoneItemName"><%= MileStone[i][j].name%></div>
                      <div class="MileStoneItemEnglish"><%= MileStone[i][j].english%></div>
                      <table class="MileStoneItemTable">
                        <tr><td>아이템</td><td>요구량</td><td>보유량</td><td>달성</td></tr>
                        <% for( var k = 0 ; k < MileStone[i][j].cost.length; k++) { %>
                          <tr class = "<%= MileStone[i][j].cost[k].need <=  MileStone[i][j].cost[k].num  ? 'MS_TableDone' : MileStone[i][j].cost[k].num > 0 ? 'MS_TableProcess' : 'MS_TableToDo' %>">
                            <td><img src="<%= MileStone[i][j].cost[k].url %>" style="width:32px;"><%= MileStone[i][j].cost[k].item %></td>
                            <td><%= MileStone[i][j].cost[k].need %></td>
                            <td><%= MileStone[i][j].cost[k].num %></td>
                            <td class="<%= MileStone[i][j].cost[k].need <=  MileStone[i][j].cost[k].num  ? 'MS_TableCheck' : ''%>"><%= MileStone[i][j].cost[k].need <=  MileStone[i][j].cost[k].num  ? '●' : '-'%></td>
                          </tr>
                        <% } %>
                      </table>
                    </div>
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!--############################################################################################################################################################################################
    #
    #  대체 제작법
    #  하드 드라이브 분석을 통해 얻은 대체 제작법들을 적는다
    #
    ############################################################################################################################################################################################-->

    <div class="subDiv" id="HDD_Div">
      <div class="subDivTitle">
        <span>대체 제작법</span>
      </div>
      <span class="subDivTitleSub">하드 드라이브 분석으로 얻은 대체 제작법 목록</span>
      <div class="HDD_MainDiv">
        <% for (let HDD_Index = 0; HDD_Index < HDD.length; HDD_Index++) { %>
          <div class="HDD_Item HDD_Item_Hidden">
            <div class="HDD_ItemImg">
              <img src = "../SatisFactory/IMG/HDD/<%= HDD[HDD_Index].img%>" />
            </div>
            <div class="HDD_ItemBody">
              <div class="HDD_ItemName"><%= HDD[HDD_Index].item %></div>
              <div class="HDD_ItemEnglish"><%= HDD[HDD_Index].english %></div>
              <table class = "HDD_ItemTable">
                <tr class="HDD_ItemTableHead"><td></td><td>대체 제작법</td><td>기존 제작법</td></tr>
                <tr><td>도구</td><td><%= HDD[HDD_Index].alter_target %></td><td><%= HDD[HDD_Index].origin_target %></td></tr>
                <tr>
                <td>재료</td><td>
                  <% for(var t = 0; t < HDD[HDD_Index].alter_cost.length; t ++) { %>
                    <div class="HDD_ItemCost"><%= HDD[HDD_Index].alter_cost[t] %></div>
                  <% } %>
                </td><td>
                  <% for(var t = 0; t < HDD[HDD_Index].origin_cost.length; t ++) { %>
                    <div class="HDD_ItemCost"><%= HDD[HDD_Index].origin_cost[t] %></div>
                  <% } %>
                </td></tr>
                <tr>
                  <td>생산량</td>
                  <td><%= HDD[HDD_Index].alter_product %> <span class="HDD_ItemEfficiency <%= HDD[HDD_Index].isGoodEfficiency ? 'efficiency' : 'notEfficiency' %>"><%= HDD[HDD_Index].efficiency %></span></td>
                  <td><%= HDD[HDD_Index].origin_product %> </td>
                </tr>
              </table>
            </div>
          </div>
        <% } %>

        <% for (let HDD_Index2 = 0; HDD_Index2 < 3; HDD_Index2++) { %>
          <div class="HDD_Item2">
            <table><tr><td>
              <i class="fa-solid fa-floppy-disk"></i>
              <span>발견된 하드 드라이브 없음</span>
            </td></tr></table>
          </div>
        <% } %>
      </div>

      <div class="HDD_Page">
        <% for(let page = 0 ; page <= parseInt( (HDD.length-1) / 3); page ++) { %>
          <a href="#HDD_Div"></a><div class="HDD_PageButton"><%= page + 1%></div></a>
        <% } %>
      </div>
    </div>

    <hr>

    <!--############################################################################################################################################################################################
    #
    #  지도
    #  월드 지도를 보여준다
    #
    ############################################################################################################################################################################################-->
    <div class="subDiv">
      <div class="subDivTitle">
        <span>지도</span>
      </div>
      <span class="subDivTitleSub">2022.08.26 PM 10:55</span>
      <img class="Map_Image" src="../SatisFactory/IMG/Map.png" alt="">
    </div>

    <hr>

    <!--############################################################################################################################################################################################
    #
    #  연구노트
    #  새티스 팩토리 연구노트를 작 (아이패드로 작성한 스크린 샷)
    #
    ############################################################################################################################################################################################-->
    <div class="subDiv">
      <div class="subDivTitle">
        <span>연구노트</span>
      </div>
      <span class="subDivTitleSub">직접 작성한 새티스 팩토리 연구 노트들</span>
      <table class="NoteTable">
        <tr>
          <td width="50px">번호</td>
          <td>제목</td>
          <td width="120px">작성자</td>
          <td width="120px">작성일</td>
        </tr>
        <% for(let NoteIndex = 0; NoteIndex < Note.length; NoteIndex++) { %>
          <tr class="NoteButton">
            <td><%= NoteIndex+1 %></td>
            <td class="Note_Title"><%= Note[NoteIndex].title %></td>
            <td><%= Note[NoteIndex].author %></td>
            <td><%= Note[NoteIndex].date %></td>
          </tr>
          <tr class="NoteImageTR">
            <td class="NoteImageTD" colspan="4">
              <div class="NoteImageDiv">
                <img src="../SatisFactory/IMG/Note/<%= Note[NoteIndex].image%>">
              </div>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
    <hr>
    

    <!--############################################################################################################################################################################################
    #
    #  스크린샷
    #  스크린샷을 모아둔 장소이다. (2의 배수 추천)
    #
    ############################################################################################################################################################################################-->
    <div class="subDiv" id="ScreenShotDiv">
      <div class="subDivTitle">
        <span>스크린 샷</span>
      </div>
      <span class="subDivTitleSub">게임 중 촬영한 스크린샷들</span>

      <div class="screenshot_PageButtonWrapper">
        <% for(var index = 0 ; index < Screenshots.length ; index ++ ) {%>
          <div class="screenshot_PageButton <%= Screenshots[index].pictures.length > 0 ? 'screenshot_Clickable' : 'screenshot_NoneClickable'%>" style="width:<%= (100 /Screenshots.length)%>%;">
            <%= Screenshots[index].location%>
          </div>
        <% } %>
      </div>

      <div class="screenshot_MainDiv">
        <% for(var ScreenShotPageIndex = 0 ; ScreenShotPageIndex < Screenshots.length; ScreenShotPageIndex ++) { %>
          <div class ="screenshot_Page <%= ScreenShotPageIndex == 0 ? '' : 'MS_Hidden'%>">

            <% for(var ScreenShotIndex = 0 ; ScreenShotIndex < Screenshots[ScreenShotPageIndex].pictures.length; ScreenShotIndex ++) { %>
              <a href="/SatisFactory/ScreenShot?page=<%=ScreenShotPageIndex%>&location=<%=ScreenShotIndex%>"><div class="screenshot_CardDiv">
                <img src = "../SatisFactory/IMG/ScreenShot/<%=Screenshots[ScreenShotPageIndex].pictures[ScreenShotIndex].filename%>.png">
                <span class="screenshot_CardTitle"><%= Screenshots[ScreenShotPageIndex].pictures[ScreenShotIndex].category%></span>
                <span class="screenshot_SubTitle"><%= Screenshots[ScreenShotPageIndex].pictures[ScreenShotIndex].subtext%></span>
              </div></a>
            <% } %>
    
            <% for(var ScreenShotIndex = 0 ; ScreenShotIndex < ( 2 - (Screenshots[ScreenShotPageIndex].pictures.length-1) % 3) && Screenshots[ScreenShotPageIndex].pictures.length > 0; ScreenShotIndex ++) { %>
              <div class="screenshot_CardDiv DesktopShow">
                <table class="screenshot_NoPicture"> <tr><td>
                  <i class="fa-solid fa-person-digging"></i>
                  <span>추가 예정</span>
                </td></tr> </table>
              </div>
            <% } %>

            <% for(var ScreenShotIndex = 0 ; ScreenShotIndex < ( Screenshots[ScreenShotPageIndex].pictures.length % 2) && Screenshots[ScreenShotPageIndex].pictures.length > 0; ScreenShotIndex ++) { %>
              <div class="screenshot_CardDiv MobileShow">
                <table class="screenshot_NoPicture"> <tr><td>
                  <i class="fa-solid fa-person-digging"></i>
                  <span>추가 예정</span>
                </td></tr> </table>
              </div>
            <% } %>
          </div>
        <% } %>
        
        
      </div>
    </div>
  </div>

  <div class="footer">
    Presented by <a href="https://KimYC1223.github.io">KimYC1223</a>
  </div>

  <script language="javascript" src="../SatisFactory/JS/index.js"></script>
</body>
</html>
